<header>
  <div class="container-fluid">
    <!-- Background image -->
    <div class="row">
      <div class="p-5 text-center bg-image shadow-3-strong" style="background-image: url('assets/img/james-harrison-vpOeXr5wmR4-unsplash.jpg');
                height: 400px;">
        <div class="mask" style="background-color: rgba(20, 52, 145, 0.6);">
          <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
              <h1 class="mb-3">Cristian Peña Mesina</h1>
              <h4 class="mb-3">Fullstack Developer</h4>
              <a class="btn btn-outline-light btn-lg" href="#!" role="button">My Skills</a>
              <a class="btn btn-outline-light btn-lg" [routerLink]="['/projects']" role="button">My Portfolio</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Background image -->

    </div>
  </div>
</header>