
    <!-- First row -->
    <p><strong>Proficient (5+ years):</strong></p>
    <div class="row">
      <div class="col-2 col-md-4 mb-3">
        <img src="assets/icons/icons8-java-48.png" class="icon" /> 
        <p>Java/JEE</p>
      </div>
      <div class="col-2 col-md-4  mb-3">
        <img src="assets/icons/icons8-java-eclipse-50.png" class="icon" /> 
        <p>Eclipse</p>
      </div>
      <div class="col-2 col-md-4  mb-3">
        <img src="assets/icons/icons8-mysql-logo-48.png" class="icon" /> 
        <p>MySql</p>
      </div>
      <div class="col-3 col-md-6 mb-3">
        <img src="assets/icons/icons8-spring-logo-48.png" class="icon" /> 
        <p>Spring Framework</p>
      </div>

      <div class="col-3 col-md-6 mb-3">
        <img src="assets/icons/icons8-git-48.png" class="icon" /> 
        <p>Git</p>
      </div>      
    </div>
    <!-- First row -->

    <!-- Second row -->
    
    <!-- Second row -->

    <!-- Third row -->
    <p><strong>Learning (1+ year):</strong></p>
    <div class="row">
      <div class="col-4 col-md-4 mb-3">
        <img src="assets/icons/icons8-angularjs-48.png" class="icon" /> 
        <p>Angular</p>
      </div>
      <div class="col-4 col-md-4 mb-3">
        <img src="assets/icons/icons8-html-5-48.png" class="icon" /> 
        <p>HTML</p>
      </div>
      <div class="col-4 col-md-4 mb-3">
        <img src="assets/icons/icons8-css3-48.png" class="icon" /> 
        <p>CSS</p>
      </div>
      <div class="row">
        <div class="col-4 col-md-4 mb-3">
          <img src="assets/icons/icons8-javascript-48.png" class="icon" />          
          <p>JS</p>
        </div>
        <div class="col-4 col-md-4 mb-3">
          <img src="assets/icons/ionic-color.png" class="icon" />          
          <p>Ionic</p>
        </div>
        <div class="col-4 col-md-4 mb-3">
          <img src="assets/icons/icons8-typescript-48.png" class="icon" />          
          <p>Typescript</p>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-md-6 mb-3">
          <img src="assets/icons/icons8-google-firebase-console-48.png" class="icon" />          
          <p>Firebase</p>
        </div>
        <div class="col-6 col-md-6 mb-3">
          <img src="assets/icons/icons8-visual-studio-code-2019-48.png" class="icon" />          
          <p>VSC</p>
        </div>        
      </div>

    </div>
    <!-- Third row -->
  
