
    <!-- First row -->
    <p><strong>Proficient (5+ years):</strong></p>
    <div class="row">
      <div class="col-md-4 mb-4">
        <i class="fab fa-html5 fa-3x m-2"></i>
        <p>HTML</p>
      </div>
      <div class="col-md-4 mb-4">
        <i class="fab fa-css3 fa-3x m-2"></i>
        <p>CSS</p>
      </div>
      <div class="col-md-4 mb-4">
        <i class="fab fa-js fa-3x m-2"></i>
        <p>JS</p>
      </div>
    </div>
    <!-- First row -->

    <!-- Second row -->
    <p><strong>Expert (3+ years):</strong></p>
    <div class="row">
      <div class="col-md-4 mb-4">
        <i class="fab fa-node-js fa-3x m-2"></i>
        <p>Node.js</p>
      </div>

      <div class="col-md-4 mb-4">
        <i class="fab fa-react fa-3x m-2"></i>
        <p>React</p>
      </div>

      <div class="col-md-4 mb-4">
        <i class="fab fa-vuejs fa-3x m-2"></i>
        <p>Vue.js</p>
      </div>
    </div>
    <!-- Second row -->

    <!-- Third row -->
    <p><strong>Learning (1+ year):</strong></p>
    <div class="row">
      <div class="col-md-6 mb-4">
        <i class="fas fa-database fa-3x m-2"></i>
        <p>Databases</p>
      </div>

      <div class="col-md-6 mb-4">
        <i class="fas fa-terminal fa-3x m-2"></i>
        <p>Unix</p>
      </div>
    </div>
    <!-- Third row -->
  
