   <!-- Section: About me -->
   <section class="text-center" id="about" >
    <h3 class="my-5">
      <strong>About me</strong>
    </h3>

    <div class="row">
      <div class="col-md-6 mb-4">
        <img src="img/yo-profile3.JPG"
         class="rounded-circle shadow-1-strong mb-4" 
         height="120" width="119" alt="Avatar"/>
        <p><strong>Who's this guy?</strong></p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Maxime maiores repudiandae ullam. Nulla non sit error officia harum veniam illum.
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Assumenda et reprehenderit rem quasi eligendi facere laborum nulla dolor rerum laboriosam!
        </p>
        <!-- Linkedin -->
        <a class="btn btn-primary btn-floating m-1"
        style="background-color: #0082ca;" 
        href="#!" role="button">
          <i class="fab fa-linkedin-in"></i>
        </a>
      
        
       </div>
       <div class="col-md-6 mb-4">
           <app-skills></app-skills>

       </div>
    
      

    </div>
  </section>
