<!-- section: contact -->
<section id="contact" class="text-center">
  <div class="container-sm">

    <h3 class="my-2"><strong>{{ "CONTACT.TITRE"| translate }}</strong></h3>

    <div class="row d-flex justify-content-center">
      <div  style="max-width: 760px;">
        <form [formGroup]="form" method="POST" (ngSubmit)="onSubmit()">
          <!-- Name input -->
          <div class="form-outline mb-4">
            <mdb-form-control>
              <input  mdbInput type="text" id="name" 
                      formControlName="name"
                      class="form-control form-control-lg"
                      required
                      [formControl]="nameForm"
                      (blur)="nameForm.setValue(cleanUnnecessaryWhitSpaces(nameForm.value))"
                        />
              <label mdbLabel class="form-label" for="name">{{ "CONTACT.nombreLabel" | translate }}</label>
              <div *ngIf="nameForm?.errors && (nameForm.dirty || nameForm.touched) ">
                <mdb-error *ngIf="nameForm.errors.required">
                  {{ "CONTACT.ERRORS.nameRequerido" | translate }}
                </mdb-error>
                <mdb-error *ngIf="nameForm.errors.maxlength">
                  {{ "CONTACT.ERRORS.nameMaxlenght" | translate }}
                </mdb-error>                
                <mdb-error *ngIf="nameForm.errors.minlength">
                  {{ "CONTACT.ERRORS.nameMinLenght" | translate }}              
                </mdb-error>                
              </div>
              <mdb-success *ngIf="nameForm?.valid && (nameForm.dirty || nameForm.touched) ">
                {{ "CONTACT.validacionCorrecta" | translate }}
              </mdb-success>              
            </mdb-form-control>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <mdb-form-control>
              <input mdbInput type="email" id="email"
                     class="form-control form-control-lg"
                     required
                     [formControl]="emailForm"
                      />
              <label mdbLabel class="form-label" for="email">{{ "CONTACT.emailLabel" | translate }}</label>
              <div *ngIf="emailForm?.errors && (emailForm.dirty || emailForm.touched) ">
                <mdb-error *ngIf="emailForm.errors.required" >
                  {{ "CONTACT.ERRORS.emailRequerido" | translate }}
                </mdb-error>
                <mdb-error *ngIf="emailForm.errors.pattern">
                  {{ "CONTACT.ERRORS.emailFormato" | translate }}
                </mdb-error>
                <mdb-error *ngIf="emailForm.errors.maxlength">
                  {{ "CONTACT.ERRORS.emailMaxLenght" | translate }}
                </mdb-error>                
              </div>
              
              <mdb-success *ngIf="emailForm?.valid && (emailForm.dirty || emailForm.touched)">
                {{ "CONTACT.validacionCorrecta" | translate }}
              </mdb-success>
            </mdb-form-control>
          </div>

          <!-- Message input -->
          <div class="form-outline mb-4">
            <mdb-form-control>
              <textarea mdbInput id="message" rows="4" 
                        class="form-control form-control-lg"
                        [formControl]="messageForm"
                        maxlength="256"
                        placeholder="I'm interested..."
                        required
                        (blur)="messageForm.setValue( messageForm.value?.trim() )">
                </textarea>
              <label mdbLabel class="form-label" for="message">{{ "CONTACT.messageLabel" | translate }}</label>
              <mdb-error *ngIf="messageForm?.invalid && (messageForm.dirty || messageForm.touched) ">
                {{ "CONTACT.ERRORS.messageRequerido" | translate }}
              </mdb-error>
              
              <mdb-success *ngIf="messageForm?.valid && (messageForm.dirty || messageForm.touched)">
                {{ "CONTACT.ERRORS.messageCounter" | translate }}: {{ 256 - textMessage.length }}

              </mdb-success>
            </mdb-form-control>

          </div>

          <input [formControl]="honeypot" class="hidden" type="text" />
          
          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-4"
                  [disabled]="isLoading || !form.valid || !honeypot.pristine || honeypot.touched"
                  (click)="enviarFormulario()">{{ "CONTACT.btnEnviar" | translate }}</button>
        </form>
      </div>
    </div>
  </div>
</section>

