<!-- section: contact -->
<section id="contact" class="text-center">
  <div class="container-sm">

    <h3 class="my-2"><strong>{{ "CONTACT.TITRE"| translate }}</strong></h3>

    <div class="row d-flex justify-content-center">
      <div  style="max-width: 760px;">
        <form [formGroup]="form" method="POST" (ngSubmit)="onSubmit()">
          <!-- Name input -->
          <div class="form-outline mb-4">
            <mdb-form-control>
              <input  mdbInput type="text" id="name" 
                      formControlName="name"
                      class="form-control form-control-lg"
                      required
                      [formControl]="nameForm"
                      (blur)="nameForm.setValue(cleanUnnecessaryWhitSpaces(nameForm.value))"
                        />
              <label mdbLabel class="form-label" for="name">Name</label>
              <div *ngIf="nameForm?.errors && (nameForm.dirty || nameForm.touched) ">
                <mdb-error *ngIf="nameForm.errors.required">
                  Nombre es requerido
                </mdb-error>
                <mdb-error *ngIf="nameForm.errors.maxlength">
                  maximo 50 caracteres
                </mdb-error>                
                <mdb-error *ngIf="nameForm.errors.minlength">
                  Largo minimo 5 caracteres                  
                </mdb-error>                
              </div>
              <mdb-success *ngIf="nameForm?.valid && (nameForm.dirty || nameForm.touched) ">
                Looks good!
              </mdb-success>              
            </mdb-form-control>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <mdb-form-control>
              <input mdbInput type="email" id="email"
                     class="form-control form-control-lg"
                     required
                     [formControl]="emailForm"
                      />
              <label mdbLabel class="form-label" for="email">Email address</label>
              <div *ngIf="emailForm?.errors && (emailForm.dirty || emailForm.touched) ">
                <mdb-error *ngIf="emailForm.errors.required" >
                  Email no puede ser vacio
                </mdb-error>
                <mdb-error *ngIf="emailForm.errors.pattern">
                  Formato Email no correcto
                </mdb-error>
                <mdb-error *ngIf="emailForm.errors.maxlength">
                  Se ha superado el largo maximo
                </mdb-error>                
              </div>
              
              <mdb-success *ngIf="emailForm?.valid && (emailForm.dirty || emailForm.touched)">
                Looks good!
              </mdb-success>
            </mdb-form-control>
          </div>

          <!-- Message input -->
          <div class="form-outline mb-4">
            <mdb-form-control>
              <textarea mdbInput id="message" rows="4" 
                        class="form-control form-control-lg"
                        [formControl]="messageForm"
                        maxlength="256"
                        placeholder="I'm interested..."
                        required
                        (blur)="messageForm.setValue( messageForm.value.trim() )">
                </textarea>
              <label mdbLabel class="form-label" for="message">Message</label>
              <mdb-error *ngIf="messageForm?.invalid && (messageForm.dirty || messageForm.touched) ">
                Mensaje no puede ser vacio
              </mdb-error>
              
              <mdb-success *ngIf="messageForm?.valid && (messageForm.dirty || messageForm.touched)">
                caracteres restantes: {{ 256 - textMessage.length }}

              </mdb-success>
            </mdb-form-control>

          </div>

          <input [formControl]="honeypot" class="hidden" type="text" />

          <!-- Checkbox -->
          <div class="form-check d-flex justify-content-center mb-4">
            <input class="form-check-input me-2" type="checkbox" value="" id="form4Example4" checked />
            <label class="form-check-label" for="form4Example4">
              Send me a copy of this message
            </label>            
          </div>
          
          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-4"
                  [disabled]="isLoading || !form.valid"
                  (click)="enviarFormulario()">Send</button>
        </form>
      </div>
    </div>
  </div>
</section>