<!-- section: my projects -->
<section id="projects" class="text-center">
    <div class="container-lg">


        <h3 class="my-2"><strong>{{ 'PROJECTS.TITRE'| translate }}</strong></h3>

        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4" *ngFor="let project of dameProjects(); let i=index" >
                <div class="card">
                    <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                        <img [src]="project.pictureProject" class="img-fluid" />                        
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>                        
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ project.tituloProject }}</h5>
                        <p  class="card-text project-justify-text"                            
                            [innerHTML]="project.contentProject.slice(0,125) + '...' ">                                                                                    
                        </p>  
                        <i class='fas fa-plus-circle mb-3 mt-n3 d-block pointer'  (click)='openModal( project)'></i>
                        
                        
                        <a [href]="project.linkProject" target="_blank" class="btn btn-primary">{{ 'PROJECTS.BUTTON' | translate }}</a>
                    </div>
                </div>
                
            </div>

        </div>
    </div>
</section>